#Remember that the requirements are to have an account on Claude and credits to use their Models.
ANTHROPIC_API_KEY=sk-ant-api03..............................................................................

#Models may or may not be available configure according to availability on the current date.
#This string configures the AI model to use, consider its cost and consumption when choosing them!

# "claude-haiku-4-5-20251001" is a basic and inexpensive AI model. it's the default for development. There is a greater chance of a generation failing.

# "claude-sonnet-4-5-20250929" intermediate point 3 times more expensive, good accuracy and low probability of failure. it's the default for MVP

# "Claude-Opus-4-6" is for the final version. Five times more expensive, but much more accurate. extremely low probability of failure.

IAMODEL=claude-sonnet-4-5-20250929


#These values are for an estimate. If you change your model, you must research and update the model's value and update its price per token.

#The default price corresponds to the Sonnet 4.5 model as of 16/3/2026

PRICE_PER_TOKEN_OUTPUT=0.00003

PRICE_PER_TOKEN_INPUT=0.000003
